@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f8f0; /* Light cream background color */
  color: #333; /* Very dark grey text color */
  font-family: "Poppins", sans-serif;
}

.column1 {
  margin-left: 200px;
  padding: 60px;
  width: 50%;
  max-width: 380px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 52%;
}

.column2 {
  margin-left: 530px;
  padding: 60px;
  padding-left: 60px;
  padding-right: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 50%;
  max-width: 520px;
}

/* .column2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.column2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.aboutme {
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .column1 {
    right: 48%;
  }
}

/* Add a media query for smaller screens */
@media screen and (max-width: 1000px) {
  .App {
    flex-direction: column; /* Stack columns for smaller screens */
  }

  .column1 {
    margin-top: 12px;
    height: calc(100vh - 120px);
    position: static;
  }

  .column2 {
    margin-bottom: 0px;
  }

  .column1,
  .column2 {
    margin-left: 0px;
    max-width: 75%;
    width: 80%; /* Take up full width on smaller screens */
    margin-right: 0px;
    overflow: hidden; /* Hide overflow to prevent scrolling */
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .column1 {
    min-height: 0;
    height: 410px;
  }
  .column2 {
    padding: 0px;
    height: 100%;
  }

  .column1 .contact {
    margin-top: 0; /* Override margin-top for smaller screens */
    margin-bottom: 0;
  }

  nav {
    visibility: hidden;
    height: 0px;
  }
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 12px; /* Set a width for the scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track (background) transparent */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (the draggable part) transparent */
}

/* For Firefox */
body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
