@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f8f0; /* Light cream background color */
  color: #333; /* Very dark grey text color */
  font-family: "Poppins", sans-serif;
}

.column1 {
  padding: 60px;
  padding-left: 100px;
  width: 50%;
  max-width: 400px;
  overflow-y: auto;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}

.column2 {
  padding: 60px;
  padding-left: 20px;
  padding-right: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 50%;
  max-width: 520px;
  overflow-y: auto;
  height: calc(100vh);
}

.column2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.column2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.aboutme {
  margin-bottom: 50px;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 900px) {
  .App {
    flex-direction: column; /* Stack columns for smaller screens */
  }

  .column1,
  .column2 {
    max-width: 75%;
    width: 80%; /* Take up full width on smaller screens */
    margin-right: 0px;
    overflow-y: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .column1 {
    min-height: 0;
    height: 410px;
  }
  .column2 {
    padding: 0px;
    height: 100%;
  }

  .column1 .contact {
    margin-top: 0; /* Override margin-top for smaller screens */
    margin-bottom: 0;
  }

  nav {
    visibility: hidden;
    height: 0px;
  }
}
